.about{
  background: $primary-background;
  &__row{
    padding: $grid-mp-width 0;
  }
  &__title{
    width: 100%;
    @include justify-content(center);
  }
  &-margin{
    margin: $grid-mp-width 0;
  }
}


.aboutText{
  @include flex-direction(column);
  @include align-items(flex-start);

  &__title{
    margin: ($grid-mp-width / 2) 0;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__desc{
    padding: ($grid-mp-width / 2) 0;
  }
  &__link{
    display: inline-block;
    margin: ($grid-mp-width / 2) 0 0;
    padding: 3px 3px 5px;
    text-decoration: none;
    border-bottom: 1px solid $light-main;
    color: $light-main;
    transition: all .5s;

    &::after{
      padding: 0 0 0 10px;
      content: '\2192';
    }
    &:hover{
      color: $primary-background;
      background-color: $light-main;
    }
  }
}

.aboutImage{
  position: relative;
  min-height: 300px;

  &__figure{
    width: 60%;
    position: absolute;
    transition: all .5s;
    @include align-items(center);
    outline-offset: 10px;

    &:hover{
      z-index: 2;
    }

    &-img{
      max-width: 100%;
    }
    &-shadow{
      @include box-shadow(10px,20px,30px,-10px,$dark-shadow);
    }

    &-1{
      top: 0;
      //left: ($grid-mp-width / 2);
      left: 0;

      &:hover{
        outline: 15px solid $light-main;
        @include scale-translate(1.1,1.1, 0, 0)
      }
    }

    &-2{
      top: 50%;
      //right: ($grid-mp-width / 2);
      right: 0;
      @include translate(0, -60%);

      &:hover{
        outline: 15px solid $light-main;
        right: ($grid-mp-width / -2);
        @include scale-translate(1.1,1.1, 0, -55%)
      }
    }

    &-3{
      left: 50%;
      bottom: 0;
      @include translate(-50%, 0);

      &:hover{
        outline: 15px solid $light-main;
        @include scale-translate(1.1,1.1, -46%, 5%)

      }
    }
  }
}