.features{
  position: relative;
  min-height: 100vh;
  @include flex-direction(column);
  @include justify-content(space-between);

  background: url("/app/dev/img/nat-4.jpg") center center / cover no-repeat;

  &::before{
    position: absolute;
    content:"";
    height:100%;
    width:100%;
    top:0;
    left:0;
    @include line-gradient-diagonal($light-main-rgba, $medium-main-rgba, $dark-main-rgba);
  }
}

.featuresItem{
  min-height: 350px;
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(space-between);
  padding: ($grid-mp-width);
  margin:  ($grid-mp-width / 2);
  background-color: $primary-background-rgba;
  border-radius: .2rem;
  transition: all .5s;

  &:hover{
    @include translate(0,-20px);
  }
  &-shadow{
    @include box-shadow(10px,20px,30px,-10px,$dark-shadow);
  }

  &__imgBox{
    height: 100px;
    @include align-items(center);
    @include justify-content(center);
  }

  &__icon{
    font-size: 5rem;
    @include line-gradient-diagonal($light-main-rgba, $medium-main-rgba, $dark-main-rgba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &-world{
      &::before{
        font-family: "linea-basic-10";
        content: "\e028";
      }
    }
    &-compass{
      &::before{
        font-family: "linea-basic-10";
        content: "B";
      }
    }
    &-maps{
      &::before{
        font-family: "linea-basic-10";
        content: "+";
      }
    }
    &-heart{
      &::before{
        font-family: "linea-basic-10";
        content: "W";
      }
    }
  }

  &__title{
    font-size: .9em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
  }
  &__subtitle{
    min-height: 120px;
    font-size: .9em;
    text-align: justify;
    line-height: 1.4;
  }
}