.header{
  position: relative;
  min-height: 100vh;
  @include flex-direction(column);
  @include justify-content(space-between);

  background: url("/app/dev/img/hero.jpg") center center / cover no-repeat;

    &__center{
      //height: 100vh;
    }

    &::before{
      position: absolute;
      content:"";
      height:100%;
      width:100%;
      top:0;
      left:0;
      @include line-gradient-diagonal($light-main-rgba, $medium-main-rgba, $dark-main-rgba);
    }
}
.headerContent{
  z-index: 1;
  &__row{
    min-height: 250px;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(space-between);
  }
}
.logo{
  --width-poz: 20px;
  position: relative;
  width: calc(100% - var(--width-poz));
  top: var(--width-poz);
  left: var(--width-poz);
  z-index: 2;

    &__wrap{
      max-width: 60px;
      @include align-items(center);
    }

    &__img{
      max-width: 100%;
    }
}

.headerTitle{
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  text-transform: uppercase;
  color: $primary-background;

  &__one{
    margin-bottom: 20px;
    font-size: 4rem;
    letter-spacing: 30px;

    &-animLeft{
      @include animate(aL, 1.5s, ease-out, 0s);
    }
  }

  &__two{
      letter-spacing: 14px;
      font-size: 1.5rem;

    &-animRigcht{
      @include animate(aR, 1.5s, ease-out, 0s);
    }
  }
}