.subscription{
  background-color: $primary-background;

  &::before{
    position: relative;
    content: "";
    @include flexbox();
    height: $subscription-height-line;
    width: 100%;
    background-color: $primary-background;
    z-index: 2;
  }

  &__imgBox{
    position: relative;
    border-radius: 1em;
    background: url("/app/dev/img/nat-2-large.jpg") center center / cover no-repeat;
    &::after{
      position: absolute;
      content:"";
      height:100%;
      width:100%;
      top:0;
      left:0;
      border-radius: 1rem;
      background-color: $light-main-form-rgba;
    }
  }
}
.mainFormBox{
  min-height: 100vh;
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
  color: $primary-background;
}

.formBox{
  @include flex-direction(column);
  @include align-items(center);
}
.submitBox{
  margin: 15px 0;
}