html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  //font: 100% $font-stack;
  font-weight: 400;
  font: $base-font $font-stack;
  color: $primary-color;
}

//Display Flex
.df{
  @include flexbox();
}


// Grid system
.wrapper{
  @include wrapper();
}
.row{
  @include row();
}
.column{
  @include column(1);

  &-2{
    @include column(2);
  }
  &-3{
    @include column(3);
  }
  &-4{
    @include column(4);
  }
}