// maximum width `.wrapper`
$small: 540px;
$medium: 720px;
$large: 960px;
$extraLarge: 1140px;

//Mobile friendly, (media breakpoints)
$mediaSmall: 567px; // min-width: 567px
$mediaMedium: 768px; // min-width: 768px
$mediaLarge: 992px; // min-width: 992px
$mediaExtraLarge: 1200px; // min-width: 1200px


// Grid columns
$grid-mp-width : 30px !default;

//fonts
$font-stack   : 'Lato', sans-serif;
$base-font    : 16px;

//buttons


//form
$subscription-height-line: 10vh;

