// Flexbox display
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

// <positive-number>, initial, auto, or none
@mixin flex($values: auto) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

// row | row-reverse | column | column-reverse
@mixin flex-direction($direction: row) {
  -webkit-flex-direction: $direction;
  -moz-flex-direction: $direction;
  -ms-flex-direction: $direction;
  flex-direction: $direction;
}

// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap: nowrap) {
  -webkit-flex-wrap: $wrap;
  -moz-flex-wrap: $wrap;
  -ms-flex-wrap: $wrap;
  flex-wrap: $wrap;
}

// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
  -moz-flex-flow: $flow;
  -ms-flex-flow: $flow;
  flex-flow: $flow;
}

// <integer>
@mixin order($val:initial) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

// <number>
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
  -moz-flex-grow: $grow;
  -ms-flex-grow: $grow;
  flex-grow: $grow;
}

// <number>
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
  -moz-flex-shrink: $shrink;
  -ms-flex-shrink: $shrink;
  flex-shrink: $shrink;
}

// <width>
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
  -moz-flex-basis: $width;
  -ms-flex-basis: $width;
  flex-basis: $width;
}

// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify:flex-start) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}

// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($align:stretch) {
  -webkit-align-content: $align;
  -moz-align-content: $align;
  -ms-align-content: $align;
  align-content: $align;
}

// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align:stretch) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($align:auto) {
  -webkit-align-self: $align;
  -moz-align-self: $align;
  -ms-align-self: $align;
  align-self: $align;
}
//-------------END Flexbox-------------



// Line gradient
@mixin line-gradient-diagonal($color1,$color2,$color3){
  background: -moz-linear-gradient(-45deg,
          $color1 0%,
          $color2 50%,
          $color3 100%);
  background: -webkit-linear-gradient(-45deg,
          $color1 0%,
          $color2 50%,
          $color3 100%);
  background: linear-gradient(135deg,
          $color1 0%,
          $color2 50%,
          $color3 100%);
}

// Transform
@mixin translate($x:0,$y:0){
  -webkit-transform: translate($x,$y);
  -ms-transform: translate($x,$y);
  transform: translate($x,$y);
}
@mixin scale($x:0,$y:0){
  -ms-transform: scale($x,$y);
  -webkit-transform: scale($x,$y);
  -o-transform: scale($x,$y);
  -moz-transform: scale($x,$y);
  transform: scale($x,$y);
}
@mixin scale-translate($scaleX: 0, $scaleY: 0, $translateX: 0, $translateY: 0){
  -ms-transform: scale($scaleX,$scaleY) translate($translateX,$translateY);
  -webkit-transform: scale($scaleX,$scaleY) translate($translateX,$translateY);
  -o-transform: scale($scaleX,$scaleY) translate($translateX,$translateY);
  -moz-transform: scale($scaleX,$scaleY) translate($translateX,$translateY);
  transform: scale($scaleX,$scaleY) translate($translateX,$translateY);
}

@mixin skew($skewY:0deg, $skewX:0deg, $scale:1){
  -webkit-transform: skewY($skewY) skewX($skewX) scale($scale);
  -ms-transform: skewY($skewY) skewX($skewX) scale($scale);
  transform: skewY($skewY) skewX($skewX) scale($scale);
}

//Box shadow
@mixin box-shadow($val1,$val2,$val3,$val4,$color){
  -webkit-box-shadow: $val1 $val2 $val3 $val4 $color;
  -moz-box-shadow: $val1 $val2 $val3 $val4 $color;
  box-shadow: $val1 $val2 $val3 $val4 $color;
}


// Grid system
@mixin wrapper() {
  position: relative;
  width: 100%;
  padding-right: ($grid-mp-width / 2);
  padding-left: ($grid-mp-width / 2);
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
}
@mixin row() {
  position: relative;
  @include flexbox();
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: ($grid-mp-width / -2);
  margin-left: ($grid-mp-width / -2);
}
@mixin column($col){
  -ms-flex: 0 0 (100% / $col);
  flex: 0 0 (100% / $col);
  max-width: (100% / $col);
  padding-right: ($grid-mp-width / 2);
  padding-left: ($grid-mp-width / 2);
}
// ------------

@mixin user-select($select : none){
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}

//Animate
// name-animate | animation-duration: number - s; | animation-timing-function: name; | animation-delay: number - s; | animation-fill-mode: name;
@mixin animate($name:name, $duration:0s, $timing-f:ease, $delay:0s, $fill-mode:none){
  -webkit-animation: $name $duration $timing-f $delay $fill-mode;
  animation: $name $duration $timing-f $delay $fill-mode;
}