/*!
 * Created by PhpStorm.
 * User: https://www.linkedin.com/in/vanya-pilikhovskiy-93a010150/
 */
@-webkit-keyframes aL {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px); }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@keyframes aL {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px); }
  50% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes aR {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px); }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes aR {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px); }
  50% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes aB {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes aB {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-weight: 400;
  font: 16px "Lato", sans-serif;
  color: #737373; }

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.wrapper {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  z-index: 1; }

.row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.column {
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px; }
  .column-2 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px; }
  .column-3 {
    -ms-flex: 0 0 33.33333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
    padding-right: 15px;
    padding-left: 15px; }
  .column-4 {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
    padding-right: 15px;
    padding-left: 15px; }

.svgLine__container {
  left: 0;
  stroke: none;
  z-index: 1; }
  .svgLine__container-header {
    bottom: 0;
    fill: #f9f9f9; }
  .svgLine__container-features {
    fill: #f9f9f9; }

.btn {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 15px 15px;
  font: 1rem "Lato", sans-serif;
  line-height: normal;
  -webkit-border-radius: 2rem;
          border-radius: 2rem;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .btn-animBot {
    -webkit-animation: aB 0.5s ease-out 0.7s backwards;
    animation: aB 0.5s ease-out 0.7s backwards; }
  .btn:focus {
    outline: 0; }
  .btn:hover {
    cursor: pointer; }
  .btn::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: inherit;
    -webkit-border-radius: 2rem;
            border-radius: 2rem;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }
  .btn-grey {
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    color: #a6a6a6;
    background-color: #f9f9f9;
    border-color: #f9f9f9; }
    .btn-grey:hover {
      -webkit-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
      transform: translate(0, -5px); }
      .btn-grey:hover::after {
        opacity: 0;
        -ms-transform: scale(1.5, 1.8);
        -webkit-transform: scale(1.5, 1.8);
        transform: scale(1.5, 1.8); }
    .btn-grey:focus {
      -webkit-box-shadow: 0 0 0 0.2rem #28b485;
              box-shadow: 0 0 0 0.2rem #28b485; }
  .btn-light-green {
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    background-color: #7ed56f;
    border-color: #7ed56f; }
    .btn-light-green:hover {
      -webkit-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
      transform: translate(0, -5px); }
    .btn-light-green:focus {
      -webkit-box-shadow: 0 0 0 0.2rem #28b485;
              box-shadow: 0 0 0 0.2rem #28b485; }

.title {
  background: -webkit-linear-gradient(-45deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%);
  background: -webkit-linear-gradient(315deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%);
  background: -o-linear-gradient(315deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%);
  background: linear-gradient(135deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .title-about {
    margin: 30px 0;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center; }
    .title-about:hover {
      -webkit-transform: skewY(2deg) skewX(15deg) scale(1.2);
      -ms-transform: skewY(2deg) skewX(15deg) scale(1.2);
      transform: skewY(2deg) skewX(15deg) scale(1.2); }
  .title-subscript {
    margin: 30px 0;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center; }

.form {
  min-width: 400px; }
  .form__horizontal {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .form__label {
    width: 100%;
    margin: 10px 0 0 0;
    font-weight: 600;
    color: #55c57a; }
  .form__control {
    width: 100%;
    min-height: 40px;
    margin: 5px 0;
    padding: 10px;
    -webkit-border-radius: .2rem;
            border-radius: .2rem;
    border: 2px solid transparent; }
    .form__control-error {
      border-color: #b43416; }
    .form__control-success {
      border-color: #55c57a; }
    .form__control:focus {
      outline: none; }

.message {
  display: none;
  margin: 5px 0;
  padding: 10px 15px;
  -webkit-border-radius: .3rem;
          border-radius: .3rem; }
  .message-show {
    display: block; }
  .message-error {
    background-color: #b43416; }
  .message-success {
    background-color: #55c57a; }
  .message__text {
    line-height: normal; }

.header {
  position: relative;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  background: url("/app/dev/img/hero.jpg") center center/cover no-repeat; }
  .header::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(-45deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%);
    background: -webkit-linear-gradient(315deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%);
    background: -o-linear-gradient(315deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%);
    background: linear-gradient(135deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%); }

.headerContent {
  z-index: 1; }
  .headerContent__row {
    min-height: 250px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -ms-flex-pack: space-between; }

.logo {
  --width-poz: 20px;
  position: relative;
  width: -webkit-calc(100% - var(--width-poz));
  width: calc(100% - var(--width-poz));
  top: var(--width-poz);
  left: var(--width-poz);
  z-index: 2; }
  .logo__wrap {
    max-width: 60px;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .logo__img {
    max-width: 100%; }

.headerTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #f9f9f9; }
  .headerTitle__one {
    margin-bottom: 20px;
    font-size: 4rem;
    letter-spacing: 30px; }
    .headerTitle__one-animLeft {
      -webkit-animation: aL 1.5s ease-out 0s none;
      animation: aL 1.5s ease-out 0s none; }
  .headerTitle__two {
    letter-spacing: 14px;
    font-size: 1.5rem; }
    .headerTitle__two-animRigcht {
      -webkit-animation: aR 1.5s ease-out 0s none;
      animation: aR 1.5s ease-out 0s none; }

.about {
  background: #f9f9f9; }
  .about__row {
    padding: 30px 0; }
  .about__title {
    width: 100%;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-pack: center; }
  .about-margin {
    margin: 30px 0; }

.aboutText {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .aboutText__title {
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 700; }
  .aboutText__desc {
    padding: 15px 0; }
  .aboutText__link {
    display: inline-block;
    margin: 15px 0 0;
    padding: 3px 3px 5px;
    text-decoration: none;
    border-bottom: 1px solid #7ed56f;
    color: #7ed56f;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
    .aboutText__link::after {
      padding: 0 0 0 10px;
      content: '\2192'; }
    .aboutText__link:hover {
      color: #f9f9f9;
      background-color: #7ed56f; }

.aboutImage {
  position: relative;
  min-height: 300px; }
  .aboutImage__figure {
    width: 60%;
    position: absolute;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    outline-offset: 10px; }
    .aboutImage__figure:hover {
      z-index: 2; }
    .aboutImage__figure-img {
      max-width: 100%; }
    .aboutImage__figure-shadow {
      -webkit-box-shadow: 10px 20px 30px -10px rgba(0, 0, 0, 0.75);
      box-shadow: 10px 20px 30px -10px rgba(0, 0, 0, 0.75); }
    .aboutImage__figure-1 {
      top: 0;
      left: 0; }
      .aboutImage__figure-1:hover {
        outline: 15px solid #7ed56f;
        -ms-transform: scale(1.1, 1.1) translate(0, 0);
        -webkit-transform: scale(1.1, 1.1) translate(0, 0);
        transform: scale(1.1, 1.1) translate(0, 0); }
    .aboutImage__figure-2 {
      top: 50%;
      right: 0;
      -webkit-transform: translate(0, -60%);
      -ms-transform: translate(0, -60%);
      transform: translate(0, -60%); }
      .aboutImage__figure-2:hover {
        outline: 15px solid #7ed56f;
        right: -15px;
        -ms-transform: scale(1.1, 1.1) translate(0, -55%);
        -webkit-transform: scale(1.1, 1.1) translate(0, -55%);
        transform: scale(1.1, 1.1) translate(0, -55%); }
    .aboutImage__figure-3 {
      left: 50%;
      bottom: 0;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
      .aboutImage__figure-3:hover {
        outline: 15px solid #7ed56f;
        -ms-transform: scale(1.1, 1.1) translate(-46%, 5%);
        -webkit-transform: scale(1.1, 1.1) translate(-46%, 5%);
        transform: scale(1.1, 1.1) translate(-46%, 5%); }

.features {
  position: relative;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  background: url("/app/dev/img/nat-4.jpg") center center/cover no-repeat; }
  .features::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: -webkit-linear-gradient(-45deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%);
    background: -webkit-linear-gradient(315deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%);
    background: -o-linear-gradient(315deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%);
    background: linear-gradient(135deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%); }

.featuresItem {
  min-height: 350px;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-pack: space-between;
  padding: 30px;
  margin: 15px;
  background-color: rgba(249, 249, 249, 0.71);
  -webkit-border-radius: .2rem;
          border-radius: .2rem;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .featuresItem:hover {
    -webkit-transform: translate(0, -20px);
    -ms-transform: translate(0, -20px);
    transform: translate(0, -20px); }
  .featuresItem-shadow {
    -webkit-box-shadow: 10px 20px 30px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 20px 30px -10px rgba(0, 0, 0, 0.75); }
  .featuresItem__imgBox {
    height: 100px;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
            justify-content: center;
    -ms-flex-pack: center; }
  .featuresItem__icon {
    font-size: 5rem;
    background: -webkit-linear-gradient(-45deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%);
    background: -webkit-linear-gradient(315deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%);
    background: -o-linear-gradient(315deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%);
    background: linear-gradient(135deg, rgba(126, 213, 111, 0.5) 0%, rgba(85, 197, 122, 0.75) 50%, #28b485 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    .featuresItem__icon-world::before {
      font-family: "linea-basic-10";
      content: "\e028"; }
    .featuresItem__icon-compass::before {
      font-family: "linea-basic-10";
      content: "B"; }
    .featuresItem__icon-maps::before {
      font-family: "linea-basic-10";
      content: "+"; }
    .featuresItem__icon-heart::before {
      font-family: "linea-basic-10";
      content: "W"; }
  .featuresItem__title {
    font-size: .9em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700; }
  .featuresItem__subtitle {
    min-height: 120px;
    font-size: .9em;
    text-align: justify;
    line-height: 1.4; }

.subscription {
  background-color: #f9f9f9; }
  .subscription::before {
    position: relative;
    content: "";
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #f9f9f9;
    z-index: 2; }
  .subscription__imgBox {
    position: relative;
    -webkit-border-radius: 1em;
            border-radius: 1em;
    background: url("/app/dev/img/nat-2-large.jpg") center center/cover no-repeat; }
    .subscription__imgBox::after {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      -webkit-border-radius: 1rem;
              border-radius: 1rem;
      background-color: rgba(17, 68, 51, 0.5); }

.mainFormBox {
  min-height: 100vh;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-pack: center;
  color: #f9f9f9; }

.formBox {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.submitBox {
  margin: 15px 0; }

@media screen and (max-height: 1024px) {
  .features > .wrapper {
    margin: 30px auto; } }

@media screen and (max-width: 991px) {
  .column-2 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px; }
  .column-4 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px; }
  .aboutImage {
    margin: 30px; }
    .aboutImage__figure-img {
      width: 300px; }
    .aboutImage__figure-3 {
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -webkit-box-pack: center;
              justify-content: center;
      -ms-flex-pack: center; }
  .title-about {
    font-size: 1.5rem; }
  .title-subscript {
    font-size: 1.5rem; } }

@media screen and (max-width: 767px) {
  .title-about {
    margin: 15px 0; } }

@media screen and (max-width: 640px) {
  body {
    font-size: 13px; }
  .title-about:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .title-subscript {
    font-size: 1.5rem; }
  .headerTitle__one {
    letter-spacing: 20px;
    font-size: 3rem; }
  .headerTitle__two {
    font-size: 1.5rem;
    letter-spacing: 1px; } }

@media screen and (max-width: 600px) {
  .aboutImage__figure {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .aboutImage__figure-img {
      width: 200px; } }

@media screen and (max-width: 533px) {
  .aboutImage {
    margin: 30px 0;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .aboutImage__figure {
      max-width: 100%;
      position: initial;
      -webkit-transform: none;
          -ms-transform: none;
              transform: none;
      margin: 15px 0; }
      .aboutImage__figure:hover {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        outline: none; }
      .aboutImage__figure-img {
        width: 100%; }
      .aboutImage__figure-shadow {
        -webkit-box-shadow: 10px 12px 20px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 12px 20px -10px rgba(0, 0, 0, 0.75); }
  .title-subscript {
    letter-spacing: 1px; }
  .headerTitle__one {
    letter-spacing: 10px;
    font-size: 2rem; }
  .headerTitle__two {
    font-size: 1rem;
    letter-spacing: 1px; }
  body {
    font-size: 12px; }
  .column-4 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px; } }

@media screen and (max-width: 480px) {
  .column-4 {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px; }
  .title-about {
    font-size: 1rem;
    letter-spacing: 1px; }
  .title-subscript {
    font-size: 1rem;
    letter-spacing: 1px; }
  .form {
    min-width: 100%; } }

@media (min-width: 567px) {
  .wrapper {
    max-width: 540px; } }

@media (min-width: 768px) {
  .wrapper {
    max-width: 720px; } }

@media (min-width: 992px) {
  .wrapper {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1140px; } }
