//Animate
@keyframes aL {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes aR {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  50% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes aB {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
