.btn{
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  @include user-select();
  border: 1px solid transparent;
  padding: ($grid-mp-width / 2) ($grid-mp-width / 2);
  font: 1rem $font-stack;
  //font-size: 1rem;
  line-height: normal;
  border-radius: 2rem;
  transition: all .5s;

  &-animBot{
    @include animate(aB, 0.5s, ease-out, 0.7s, backwards);
  }

  &:focus{
    outline: 0;
  }
  &:hover{
    cursor: pointer;
  }
  &::after{
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: inherit;
    border-radius: 2rem;
    transition: all 0.4s;
  }

  &-grey{
    padding: ($grid-mp-width / 2) ($grid-mp-width / 1);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1em;
    color: $button-color-grey;
    background-color: $primary-background;
    border-color: $primary-background;

    &:hover{
      @include translate(0, -5px);
      &::after{
        opacity: 0;
        @include scale(1.5,1.8);
      }
    }

    &:focus{
      box-shadow: 0 0 0 0.2rem $dark-main-rgba;
    }
  }
  &-light-green{
    padding: ($grid-mp-width / 2) ($grid-mp-width);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    color: $button-color-white;
    background-color: $light-main;
    border-color: $light-main;
    &:hover{
      @include translate(0, -5px);
    }
    &:focus{
      box-shadow: 0 0 0 0.2rem $dark-main-rgba;
    }
  }
}