.form{
  min-width: 400px;
  //flex-direction: column;

  &__horizontal{
    width: 100%;
    flex-direction: column;
  }


  &__label{
    width: 100%;
    margin: 10px 0 0 0;
    font-weight: 600;
    color: $medium-main;
  }


  &__holder{

  }

  &__control{
    width: 100%;
    min-height: 40px;
    margin: 5px 0;
    padding: 10px;
    border-radius: .2rem;
    border: 2px solid transparent;

    &-error{
      border-color: $error-main;
    }

    &-success{
      border-color: $success-main;
    }

    &:focus{
      outline: none;

    }
  }

  &__message{

  }
}