.message{
  display: none;
  margin: 5px 0;
  padding: 10px 15px;
  border-radius: .3rem;

  &-show{
    display: block;
  }

  &-error{
    background-color: $error-main;
  }

  &-success{
    background-color: $success-main;
  }

  &__text{
    line-height: normal;
    //padding: 10px;
  }
}