.title{
  @include line-gradient-diagonal($light-main-rgba, $medium-main-rgba, $dark-main-rgba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .5s;

  &-about{
    margin: $grid-mp-width 0;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    &:hover{
      @include skew(2deg,15deg,1.2);
    }
  }
  &-subscript{
    margin: $grid-mp-width 0;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
  }

}