//THEME COLORS
$primary-color        : #737373;
$primary-background   : #f9f9f9;
$white-color          : #fff;

//buttons
$button-color-grey  : #a6a6a6;
$button-color-white : #fff;

$light-main     : #7ed56f;
$medium-main    : #55c57a;
$dark-main      : #28b485;

$error-main     : #b43416;
$success-main   : #55c57a;

//rgba
$light-main-rgba            : rgba(126,213,111,0.5);
$medium-main-rgba           : rgba(85,197,122,0.75);
$dark-main-rgba             : rgba(40,180,133,1);
$primary-background-rgba    : rgba(249, 249, 249, 0.71);
$light-main-form-rgba       : rgba(17, 68, 51, 0.5);

$dark-shadow    : rgba(0,0,0,0.75);